<% layout('./boilerplate.ejs') -%>

<!-- show all the listings on the home page in the form of cards -->
<body>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
    <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>/show" class="card-link mt-4">
        <div class="card mb-2">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image">
          <div class="card-body p-0">
            <h6 class="card-title"> <%= listing.title %> </h6>
            <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %> / night</p>
          </div>
        </div>  
      </a>
    <% } %>  
  </div>
</body>
