<% layout('./boilerplate.ejs') -%>

<!-- to show error page -->
<div class="row">
  <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
    <div class="alert alert-danger m-5" role="alert">
      <%=message%>
  </div>      
  </div>
</div>
