<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="mailto:anjumtafsira@gmail.com" target="_blank" class="link">
                <i class="fa-regular fa-envelope"></i> email me
            </a>
            <a href="https://wanderlust-ac9a.onrender.com/" target="_blank" class="link">
                <i class="fa-brands fa-github"></i> github.com
            </a>
            <a href="https://www.linkedin.com/in/tafsira-anjum-4833362b0/" target="_blank" class="link">
              <i class="fa-brands fa-linkedin-in"></i> linkedIn
            </a>
        </div>
        <div class="f-info-brand mb-2">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="link">Privacy</a>
            <a href="/terms" class="link">Terms</a>
        </div>
    </div>
</footer>
